/*
Breakpoints:
320px - 375px; Sunny Day
376px - 667px; Dawn
667px - 1024px; Night
1024px - 1600px; Sunny Day
*/

@media (max-width: 850px) {
  
  #sunny-day {
    height: 100%;
    background-image: url('../img/sunny-day.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #kitten-medium {
    margin-top: 30%;
  }

/*@media (min-width: 320px) and (max-width: 375px) {
  body {
    background: url(../img/sunny-day.jpg);
  }
}

@media (min-width: 376px) and (max-width: 667px) {
  body {
    background: url(../img/dawn.png);
  }
}

@media (min-width: 667px) and (max-width: 1024px) {
  body {
    background: url(../img/night.jpg);
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  body {
    background: url(../img/sunny-day.jpg);
  }
}  */

