/*
Breakpoints:
320px - 750px; Sunny Day
750px - 950px; Dawn
950px - ; Night
*/

@media (min-width: 320px) and (max-width: 750px) {
  
  #sunny-day {
    background-image: url('../img/sunny-day.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }

  #kitten-medium {
    margin-top: 30%;
  }

  #kitten-large {
    display: none;
  }

  #kitten-small {
    display: none;
  }
}


@media (min-width: 750px) and (max-width:950px) {

  #dawn{
    background-image: url('../img/dawn.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }

  #kitten-medium {
    display: none;
  }

  #kitten-large {
    margin-top: 30%;
  }

  #kitten-small {
    display: none;
  }
}

@media (min-width: 950px) {

  #night{
    background-image: url('../img/night.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }

  #kitten-medium {
    display: none;
  }

  #kitten-large {
    display: none;
  }

  #kitten-small {
    margin-top: 30%;
  }
}



