/*
Breakpoints:
320px - 750px; Sunny Day
750px - 950px; Dawn
950px - ; Night
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.kitten {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500vh;
  width: 50%;
  float: right;
  margin-left: 
}

/*
Posicionando al gato
*/

